div.transbox {
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	color: white;
}
body {
	background-color: #F8F8F8;
}
.jumbotron {
	background-image: url("../Imges/header.jpg");
	background-size: cover;
	margin-bottom: 0px;
}
a.btn {
	width: auto;
}

/* ----- Second div ----- */
#second-div {
	background-color: rgba(95, 78, 78, 0.267);
	min-height: 80vh;
	display: flex;
	margin-top: 0px;
	margin-bottom: 35px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
  }
  
  #second-div-text {
	order: 1;
	flex-grow: 1;
	min-width: 30%;
	margin-top: 25vh;
	font-size: 2.3em;
	font-family: 'Lobster', cursive;
	text-align: center;
	font-weight: 400;
	margin-bottom: 25vh;
  }
  
  #steve-jobs-quote {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
  }
  
  #second-div-image {
	order: 2;
	flex-grow: 1;
	min-width: 45%;
	align-self: flex-end;
	max-width: 500px;
  }
  
  #steve-jobs-image {
	max-width: 100%;
	box-sizing: border-box;
	float: right;
  }

.cards {
	display: inline-block;
}

.footer {
	text-align: center;
	font-family: "Verdana", sans-serif;
}
#tribute-info
{
	color: #fff;
}

/* ----- Third div ----- */
#third-div {
	background-color: #000;
	/* min-height: 100vh; */
	padding-bottom: 2vw;
	padding-right: 2vw;
	padding-left: 2vw;
  }
  
  #third-div-content {
	color: #fff;
	font-family: 'Grenze Gotisch', cursive;
	margin-top: 5.5em;
	margin-bottom: 2em;
  }
  
  #third-div-title {
	font-size: 4em;
  }
  
  #third-div-text {
	margin-top: 2.5em;
	font-size: em;
  }
  
  #author-text {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	margin-top: 2vw;
  }

